#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif
#include "../include/version.h"

IDI_ICON1 ICON DISCARDABLE "./images/logo.ico"
VS_VERSION_INFO VERSIONINFO
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", ""
                VALUE "FileDescription", ""
                VALUE "FileVersion", "1.0.0.0"
                VALUE "InternalName", "SerialTool.exe"
                VALUE "LegalCopyright", COPYRIGHT
                VALUE "OriginalFilename", "SerialTool.exe"
                VALUE "ProductName", SOFTWARE_NAME
                VALUE "ProductVersion", SOFTWARE_VERSION
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END
